<div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="testimonial-content section-title">
                    <span class="sub-title">What People Say</span>
                    <h2 class="title mb-6">Client Feedback</h2>
                    <p class="short-desc">{% render_slot slots.description %}</p>
                    <div class="user-info">
                      <div class="user-img">
                        <img src="{% render_slot slots.image_src %}" alt="User Image" />
                      </div>
                      <div class="user-content">
                        <span class="user-name">{% render_slot slots.fullname %}</span>
                        <span class="user-occupation">{% render_slot slots.occupation %}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>