 <div class="col-lg-4 col-md-6 pt-6">
            <div class="intro-item text-white" data-bg-color="#b8a780">
              <div class="intro-icon mb-5">
                <img src="{% render_slot slots.image_src %}" alt="Intro Icon" />
              </div>
              <div class="intro-content">
                <h3 class="title mb-4">{% render_slot slots.title %}</h3>
                <p class="short-desc mb-0">{% render_slot slots.description %}</p>
              </div>
            </div>
          </div>