						<div class="col-12">
							<div class="blog-item row g-0">
								<div class="col-md-6">
									<div class="blog-img img-zoom-effect h-100">
										<a href="{% url 'core:blog-details' %}">
											<img
												class="img-full h-100"
												src="{% render_slot slots.image_src %}"
												alt="Blog Image"
											/>
										</a>
									</div>
								</div>
								<div class="col-md-6">
									<div class="blog-content">
										<div class="inner-content">
											<div class="blog-meta text-dim-gray pb-3">
												<ul>
													<li class="date">
														<i class="fa fa-calendar-o me-2"></i>{% render_slot slots.date %}
													</li>
													<li>
														<span class="comments me-3">
															<a href="javascript:void(0)">{% render_slot slots.comment %} Comments</a>
														</span>
														<span class="link-share">
															<a href="javascript:void(0)">Share</a>
														</span>
													</li>
												</ul>
											</div>
											<h5 class="title mb-4">
												<a href="{% url 'core:blog-details' %}"
													>{% render_slot slots.title %}</a
												>
											</h5>
											<p class="short-desc mb-5">
												{% render_slot slots.description %}
											</p>
											<div class="button-wrap">
												<a
													class="btn btn-custom-size lg-size btn-dark rounded-0"
													href="{% url 'core:blog-details' %}"
													>Read More</a
												>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>